<nav class="navbar">
  <div class="container">
    <div class="navbar-brand">
      <a class="navbar-item">
        <img src="https://www.colorado.edu/bfp/sites/default/files/styles/medium/public/people/cuboulder-large.png?itok=RCZvVtMJ">
      </a>
      <p class="navbar-item is-bold">Bibliography</p>
    </div>
    <div id="navMenu" class="navbar-menu">
      <div class="navbar-end">
        <span class="navbar-item">
          <div class="buttons">
            <a class="button is-rounded is-link" routerLink="">
              Return to Diagram
            </a>
          </div>
        </span>
      </div>
    </div>
  </div>
</nav>
<section class="hero is-small">
  <div class="hero-body">
    <div class="container">
      <p style="margin-left: 1cm; text-indent: -1cm;">Pellecchia, Linda. &ldquo;Architects Read Vitruvius: Renaissance Interpretations of the Atrium of the Ancient House.&rdquo; <em>Journal of the Society of Architectural Historians</em>, vol. 51, no. 4, 1992, pp. 377&ndash;416., doi:10.2307/990736.&nbsp;</p>
      <p style="margin-left: 1cm; text-indent: -1cm;"><br></p>
      <p style="margin-left: 1cm; text-indent: -1cm;">Margaret M. Andrews. &ldquo;A Domus in The Subura of Rome from the Republic through Late Antiquity.&rdquo; <em>American Journal of Archaeology</em>, vol. 118, no. 1, 2014, p. 61., doi:10.3764/aja.118.1.0061.&nbsp;</p>    
      <p style="margin-left: 1cm; text-indent: -1cm;"><br></p>
      <p style="margin-left: 1cm; text-indent: -1cm;">Monteoliva, Juan Manuel, et al. &ldquo;Ancient Romans and DAYLIGHTING: The Case of Villa of the Mysteries in Pompeii.&rdquo; <em>Journal of Cultural Heritage</em>, vol. 43, 2020, pp. 204&ndash;218., doi:10.1016/j.culher.2019.12.008.&nbsp;</p>    
      <p style="margin-left: 1cm; text-indent: -1cm;"><br></p>
      <p style="margin-left: 1cm; text-indent: -1cm;">Berry, Joanne. <em>The Complete Pompeii</em>. Thames &amp; Hudson, 2017.&nbsp;</p>
      <p style="margin-left: 1cm; text-indent: -1cm;"><br></p>
      <p style="margin-left: 1cm; text-indent: -1cm;">Wilkinson, Paul. <em>Pompeii: An ARCHAEOLOGICAL Guide: The Essential Handhook for Visiors to Pompeii</em>. I.B. Tauris, 2017.&nbsp;</p>
    </div>
  </div>
</section>